USE project1;

CREATE TABLE Members
(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Name VARCHAR(100) NOT NULL,
    Email VARCHAR(150) NOT NULL,
    PhoneNumber VARCHAR(30) NOT NULL,
    MembershipId VARCHAR(50) NOT NULL UNIQUE,
    RoleOfMem VARCHAR(20) NOT NULL DEFAULT 'Member',

    CONSTRAINT CHK_Members_Role
    CHECK (RoleOfMem IN ('Member', 'Admin'))
);


CREATE TABLE LibraryItems
(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    ItemType VARCHAR(20) NOT NULL,
    Title VARCHAR(100) NOT NULL,
    AuthorPublisher VARCHAR(100) NULL,
    YearOfPublication INT NULL,
    IsAvailable BIT DEFAULT 1,
    ISBN VARCHAR(20) NULL,
    NumberOfPages INT NULL,
    IssueNumber INT NULL,
    Category VARCHAR(50) NULL,
    PublicationDate DATE NULL,
    Region VARCHAR(50) NULL
);


CREATE TABLE Borrowings
(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    MemberId INT NOT NULL,
    ItemId INT NOT NULL,
    BorrowDate DATETIME NOT NULL,
    DueDate DATETIME NOT NULL,
    ReturnDate DATETIME NULL,
    Fine DECIMAL(10,2) NOT NULL DEFAULT 0,

    FOREIGN KEY (MemberId) REFERENCES Members(Id),

    FOREIGN KEY (ItemId) REFERENCES LibraryItems(Id)
);
